{% extends 'layout/layout.html' %}

{% set pageId = 'page-create-account' %}

{% block title %}
    <title>Cadastrar</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/create-account.css">
    <link rel="stylesheet" href="/styles/modal.css">
{% endblock styles %}

{% block content %}
    {% include 'partials/page-header.html' %}
    
    {% if errorList %} 
        {% for err in errorList %}   
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>          
                    {{err.text}}                           
            </div>
        {% endfor %} 
    {% endif %}

    <div class="field-group">
        <form action="/save-account" method='post'>

            <h1>Crie a sua conta</h1>
            
            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" 
                data-size="large"
                data-width="400"
                data-height="40"
                data-button-type="continue_with"
                data-use-continue-as="true" 
                id="registry">                    
            </fb:login-button>

           <h6>ou</h6>

            <fieldset>
                <div class="field">
                    <label for="fullname">Nome completo <sub>*</sub></label>
                    <input type="text" value="{{user.fullname}}" name="fullname" id="fullname" required="required" placeholder="Nome completo" value=''>

                    <label for="email">E-mail <sub>*</sub></label>
                    <input type="email" value="{{user.email}}" name="email" id="email" placeholder="Nome@mail.com" required="required" value=''>

                    <label for="password">Senha <sub>*</sub></label>
                    <input type="password" name="password" placeholder="Senha" required="required" value="{{user.password}}">
                    <small id="passwordHelpBlock" class="form-text text-muted mb-3">
                          Sua senha deve ter no mínimo 8 caracteres
                    </small>
                </div>
            </fieldset>

            <button type="submit">Cadastre-se</button>

            <div id="status"></div>

        </form>
    </div>

{% endblock content %}

{% block modal %}
    {% if saved %}
        {% include 'partials/point-created.html' %}
    {% endif %}

    {% if error %}
        {% include 'partials/error-point-created.html' %}
    {% endif %}
{% endblock modal %}

{% block scripts %}
    <script src="/scripts/create-account.js"></script>
{% endblock scripts %}