{% extends 'layout/layout.html' %}

{% set pageId = 'page-login' %}

{% block title %}
    <title>Login</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/modal.css">
 {% endblock styles %}

{% block content %}
    {% include 'partials/page-header.html' %}

    <div class="field-group">
        <form action="/login" method='post'>

            <h1>Acesse a sua conta</h1>

            <fieldset>
                <div class="field">
                    <label for="email">E-mail <sub>*</sub></label>
                    <input type="email" value="{{user.email}}" name="email" id="email" placeholder="Nome@mail.com" required="required" value=''>

                    <label for="password">Senha <sub>*</sub></label>
                    <input type="password" id="password" name="password" placeholder="Senha" required="required">
                </div>
            </fieldset>

            <button type="submit">Entrar</button>

            <div id="status"></div>
            {% if email %}
                <div id="wrong"><p>E-mail não cadastrado</p></div>
            {% endif %}

            {% if password %}
                <div id="wrong"><p>Senha errada</p></div>
            {% endif %}
        </form>
    </div>

{% endblock content %}

{% block modal %}
    {% if saved %}
        {% include 'partials/point-created.html' %}
    {% endif %}

    {% if error %}
        {% include 'partials/error-point-created.html' %}
    {% endif %}
{% endblock modal %}

{% block scripts %}
    <script src="/scripts/create-account.js"></script>
{% endblock scripts %}