/*Regras para responsividade*/

@media (max-width: 900px) {
    #page-home {
        background-position-x: 70vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header .login-sigup{
        position: absolute;
        top: 150px;
        transform: translateX(-30%);
        align-items: center;
        text-align: center;
    }

    #page-home main {
        align-items: center;
    }

    #page-search-results .cards {
        grid-template-columns: 1fr;
    }

    #page-search-results .cards img {
        height: 200px;
    }

    #page-create-point .field-group {
        flex-direction: column;
    }

    #page-create-point .field-group .field + .field {
        margin-left: 0;
    }

    #page-create-account form #registry {
        width: 180px;
    }
}

@media (min-width: 1700px) {
    #page-home {
        background-position-x: 40vw;
    }
}

@media (max-height: 660px) {
    #page-home {
        background-position-y: 200px;
    }
}

@media (max-height: 320px) {
    #page-login .field-group{
        width: 100%;
        font-size: 16px;
    }
    #page-login form h1 {
        font-size: 16px;
    }
}

