:root{
    --title-color: #322153;
    --primary-color: #34cb79;
    --light-color:#f0f0f5;
}

*{   /*serve para todos os elementos*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*faz com que o padding aumente o preenchimento só até a borda*/

}

html{
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased; /* a fonte se apresenta mais bonita*/
}

a{
    text-decoration: none; /*tira o sublinhado do link*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}
























